/** postcss-bem-linter: define header */
@import 'variables';

.header {
  background-color: $c-yellow;

  &_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @include medium {
      flex-direction: row;
      justify-content: flex-end;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &--minimal &_container {
    @include medium {
      justify-content: flex-start;
    }
  }

  &_postmark-logo {
    width: 158px;
    height: 25px;
    margin: 20px 0;
    background: url('/images/logo@2x.png') no-repeat 0 0;
    background-size: 100%;
    text-indent: -9999em;

    @include medium {
      align-self: flex-end;

      margin: 0 0 9px -22px;
    }

  }
}
